body { 
	padding: 30px; 
	line-height: 2em;
	#color: #484848;
	#background-color: rgba(204, 228, 210, 0.1);
	background-color: #fcfcfc;
	font-size: 16px;
}

ul {
	list-style-type: none;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

h1 {
	margin-top: 0;
	text-transform: uppercase;
}

h2 {
	#font-weight: bold;
	margin-bottom: 50px;
}
h2, h3, h4 {
	#color: #969696;
	margin: 10px 0;
	font-family: roboto;
	#font-weight: bold;
}

h2, h3 {
	text-transform: uppercase;
}

.blue {
	color: #96a5da;
}

.text-center {
	text-align: center;
}

.italics {
	font-style: italic;
}
.section-right {
	#width: 80%;
	

	padding-left: 50px;
}


.section {
	margin: 25px 0;
}

.thumbnail{
	padding: 20px;
	border-radius: 0;
	background-color: #fdffff;
}
.thumbnail h4 {
	margin: 0;
	
	text-align: left;
}

hr {
	margin-top: 0;
}

section {
	margin: 30px 0;
	color: #757575;
}

.underline {
	text-decoration: underline;
	font-size: 1.5em;
}

.muted {
	color: #ddd;
	font-family: roboto-thin;
}

h3 {
	#font-family: roboto-thin;
	margin-bottom: 0;
	color: rgba(68, 68, 68, 0.43)
}
@font-face {
	font-family: roboto-thin;
	src: url(../fonts/Roboto-Thin.ttf);
}

.profile {
	text-align: justify;
}

@media only screen and (min-width: 1000px) {
	.section-right {
		border-left: 1px solid #ddd;
	}
}